<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>CIS Course List</title>
  <link rel="stylesheet" href="/styles/search2.css" />
</head>

<body>
  <%- include('partials/header') %>

  <!-- content -->
   <!-- search filter input row -->
   <div class="row">
    <div class="col-sm-12 mb-3">
      <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search for.." />
    </div>
  </div>

<div id="content">
  <h1>Computer Information Systems Courses</h1>
  <p>Required Courses</p>

  <div class="frame">
    <button class="custom-btn btn-1">
      Computer Skills for Problem-Solving <br />CS 135
    </button>
    <button class="custom-btn btn-1">
      <span>Intro to Object-Oriented Programming<br />CIS 225</span>
    </button>
    <button class="custom-btn btn-1">
      <span>Information Systems in Organizations<br />CIS 236</span>
    </button>
    <button class="custom-btn btn-1">
      <span>Advanced Object-Oriented Programming<br />CIS 315</span>
    </button>
    <button class="custom-btn btn-1">
      Systems Analysis and Design<br />CIS 330
    </button>
    <button class="custom-btn btn-1">IT Infrastructure<br />CIS 344</button>
    <button class="custom-btn btn-1">
      Database Development and Management<br />CIS 366
    </button>
    <button class="custom-btn btn-1">Web Development<br />CIS 376</button>
    <button class="custom-btn btn-1">
      Software Architecture<br />CIS 476
    </button>
    <button class="custom-btn btn-1">
      Projects in Information Systems<br />CIS 486
    </button>

    <br /><br />

    <p>Electives for CIS majors</p>
    <button class="custom-btn btn-2">
      Intro to Information Security<br />ITE 249
    </button>
    <button class="custom-btn btn-2">
      Intro to Human Computer Interaction/User Experience (HCI/UX)<br />CIS
      289
    </button>
    <button class="custom-btn btn-2">
      Advanced IT Infrastructure<br />CIS 444
    </button>
    <button class="custom-btn btn-2">
      Advanced Database Management Systems<br />CIS 445
    </button>
    <button class="custom-btn btn-2">
      Decision Support Using Spreadsheet<br />CIS 446
    </button>
    <button class="custom-btn btn-2">CIS Internship<br />CIS 480</button>
    <button class="custom-btn btn-2">Capstone HCI/UX<br />CIS 489</button>
  </div>

</div>

  <!-- footer -->

  
  
</body>
</html>